<p>
  <LinkTo @route='index'>Go Back</LinkTo>
</p>


<img src={{@song.artworkUrl100}} />

<h2>{{@song.artistName}} - <i>{{@song.trackName}}</i></h2>

<p>Preview:</p>

<audio src={{@song.previewUrl}} controls>
</audio>